/* 
font-weight:
100 Ultralight
200 Thin
300 Light
400 Regular
500 Medium
600 Semibold
700 Bold
800 Heavy
900 Black
*/

@font-face {
    font-family: "SF Pro Display";
    src: url("../assets/Fonts/SF-Pro-Display-Black.otf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "SF Pro Display";
    src: url("../assets/Fonts/SF-Pro-Display-BlackItalic.otf") format("truetype");
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: "SF Pro Display";
    src: url("../assets/Fonts/SF-Pro-Display-Bold.otf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "SF Pro Display";
    src: url("../assets/Fonts/SF-Pro-Display-BoldItalic.otf") format("truetype");
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: "SF Pro Display";
    src: url("../assets/Fonts/SF-Pro-Display-Heavy.otf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "SF Pro Display";
    src: url("../assets/Fonts/SF-Pro-Display-HeavyItalic.otf") format("truetype");
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: "SF Pro Display";
    src: url("../assets/Fonts/SF-Pro-Display-Light.otf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "SF Pro Display";
    src: url("../assets/Fonts/SF-Pro-Display-LightItalic.otf") format("truetype");
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "SF Pro Display";
    src: url("../assets/Fonts/SF-Pro-Display-Medium.otf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "SF Pro Display";
    src: url("../assets/Fonts/SF-Pro-Display-MediumItalic.otf") format("truetype");
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "SF Pro Display";
    src: url("../assets/Fonts/SF-Pro-Display-Regular.otf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "SF Pro Display";
    src: url("../assets/Fonts/SF-Pro-Display-RegularItalic.otf") format("truetype");
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: "SF Pro Display";
    src: url("../assets/Fonts/SF-Pro-Display-Semibold.otf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "SF Pro Display";
    src: url("../assets/Fonts/SF-Pro-Display-SemiboldItalic.otf") format("truetype");
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "SF Pro Display";
    src: url("../assets/Fonts/SF-Pro-Display-Thin.otf") format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "SF Pro Display";
    src: url("../assets/Fonts/SF-Pro-Display-ThinItalic.otf") format("truetype");
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: "SF Pro Display";
    src: url("../assets/Fonts/SF-Pro-Display-Ultralight.otf") format("truetype");
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: "SF Pro Display";
    src: url("../assets/Fonts/SF-Pro-Display-UltralightItalic.otf") format("truetype");
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: "SF Pro Rounded";
    src: url("../assets/Fonts/SF-Pro-Rounded-Black.otf") format("truetype");
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: "SF Pro Rounded";
    src: url("../assets/Fonts/SF-Pro-Rounded-Bold.otf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: "SF Pro Rounded";
    src: url("../assets/Fonts/SF-Pro-Rounded-Heavy.otf") format("truetype");
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: "SF Pro Rounded";
    src: url("../assets/Fonts/SF-Pro-Rounded-Light.otf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "SF Pro Rounded";
    src: url("../assets/Fonts/SF-Pro-Rounded-Medium.otf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "SF Pro Rounded";
    src: url("../assets/Fonts/SF-Pro-Rounded-Regular.otf") format("truetype");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "SF Pro Rounded";
    src: url("../assets/Fonts/SF-Pro-Rounded-Semibold.otf") format("truetype");
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: "SF Pro Rounded";
    src: url("../assets/Fonts/SF-Pro-Rounded-Thin.otf") format("truetype");
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: "SF Pro Rounded";
    src: url("../assets/Fonts/SF-Pro-Rounded-Ultralight.otf") format("truetype");
    font-weight: 100;
    font-style: normal;
}